@import "reset";
@import "fonts";
@import "vars";
body {
}
.log-in {
    max-width: 650px;
    margin: 0 auto;
    padding: 10vh 2vh 5vh 2vh;
}
.log-in__content {
    padding: 4vh;
    border-radius: 28px;
    background-color: $cover-color;
}
.log-in__title {
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 30px;
    color: $main-color;
    padding-left: 20px;
    padding-bottom: 40px;
    span {
        color: $accent-color;
    }
}

.log-in__form {
    span,
    a {
        font-weight: 400;
        font-size: 14px;
        color: $gray;
    }
    input {
        color: $accent-color;
        background: none;
        width: 100%;
        margin-top: 12px;
        border: 1.3px solid $gray;
        border-radius: 14px;
        padding: 22px 0 22px 30px;
        font-size: 15px;
        &::placeholder {
            color: $gray;
        }
        &:focus {
            border-color: $accent-color;
            box-shadow: 0px 5px 20px rgba(255, 255, 0, 0.2);
        }
    }
}
.form__password-details {
    padding-top: 25px;
    input {
        background: url("../img/icons/eye.svg") no-repeat;
        background-position-x: 96%;
        background-position-y: center;
    }
}
.reset__password {
    display: flex;
    justify-content: space-between;
    a {
        color: $accent-color;
        &:hover {
            text-decoration: underline;
        }
    }
}
.reset__password-link {
    color: $accent-color !important;
}
.password__status {
}
// Buttons
.log-in__buttons {
    max-width: 225;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.log-in__btn {
    font-size: 16px;
    font-weight: 600;
    padding: 20px 0;
    border-radius: 10px;
    margin-top: 40px;
    height: 62px;
    background: $accent-color;
    color: $background-color;
    transition: all 0.4s ease;
    box-shadow: 0px 5px 20px rgba(82, 82, 80, 0.3);
    &:hover {
        background-color: #9c9c32;
    }
}
.button__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    p {
        color: $gray;
        min-width: 112px;
    }
    &::before {
        content: "";
        width: 180px;
        height: 1px;
        background-color: $gray;
    }
    &::after {
        content: "";
        width: 180px;
        height: 1px;
        background-color: $gray;
    }
}
.another-method__btn {
    color: $main-color !important;
    border: 1.3px solid $gray;
    background: none;
    font-size: 16px;
    font-weight: 600;
    padding: 20px 0;
    border-radius: 10px;
    margin-top: 1vh;
    height: 62px;
    transition: all 0.3s ease;
    box-shadow: 0px 5px 20px rgba(82, 82, 80, 0.3);
    &:hover {
        border-color: $accent-color;
    }
}
.sign-up__text {
    padding-top: 25px;
    max-width: 270px;
    margin: 0 auto;
    p {
        color: $gray;
        a {
            color: $accent-color;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
