@import "reset";
@import "fonts";
@import "vars";
.reset {
   padding-top: 12vh;
}
.cover {
   border-radius: 30px;
   background-color: $cover-color;
   padding: 30px 3vw 55px;
   max-width: 640px;
   margin: 0 auto;
}
.reset__title {
   text-align: center;
   padding-bottom: 3vh;
}
.reset__paragraph {
   text-align: center;
   color: #c4c4c4;
   line-height: 21px;
   padding-bottom: 35px;
}

.reset__form {
   display: flex;
   flex-direction: column;
   gap: 25px;
   span {
      font-size: 14px;
      color: $gray;
   }
   input {
      background: none;
      margin-top: 15px;
      width: 100%;
      height: 65px;
      border: 1.3px solid $gray;
      border-radius: 14px;
      padding-left: 30px;
      font-size: 15px;
      color: $accent-color;
      &::placeholder {
         color: #919499;
      }
      &:focus {
         border-color: $accent-color;
         box-shadow: 0px 5px 20px rgba(255, 255, 0, 0.2);
      }
   }
}
.reset__btn {
   font-weight: 600;
   font-size: 16px;
   width: 100%;
   height: 65px;
   border-radius: 14px;
   margin-top: 45px;
   background: $accent-color;
   color: $background-color;
   box-shadow: 0px 5px 20px rgba(255, 255, 0, 0.2);
   transition: all 0.3s ease;
   &:hover {
      background-color: rgb(156, 156, 50);
   }
   &:focus {
      background-color: rgb(156, 156, 50);
   }
}
