@import "vars";
@import "fonts";
@import "reset";
@import "signup";
@import "login";
body {
   font-family: "Inter", sans-serif;
   background-color: $background-color;
   color: $main-color;
}
/* Header */
.header {
   padding-top: 30px;
}
.container {
   padding: 0 30px;
   max-width: 1350px;
   margin: 0 auto;
}
.header__inner {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.header__logo {
   font-family: 'Cormorant Garamond', serif;
   font-size: 30px;
   color: $accent-color;
   font-weight: 500;
}
.nav__menu {
   display: flex;
   align-items: center;
   column-gap: 40px;
}
.nav__menu-item {
   a {
      color: $main-color;
      opacity: 0.8;
      &:active {
         opacity: 1;
      }
   }
}
.nav__buttons {
   max-width: 260px;
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
}
/* Buttons Style */
.btn {
   display: inline-block;
   border-radius: 8px;
   background: $accent-color;
   padding: 13px 0;
   font-weight: 700;
   color: #131e3a !important;
   transition: all 0.8s ease;
   text-align: center;
   width: 120px;
}
.transp-btn {
   background: none;
   color: $accent-color !important;
   border: 1px solid $accent-color;
}
/* ================================ */
// Hover stuffs
@media (hover: hover) {
   .nav__menu-item {
      a {
         transition: all 0.7s ease;
         &::after {
            content: "";
            display: block;
            width: 0;
            height: 1px;
            background-color: $accent-color;
            transition: all 0.6s ease;
         }
         &:focus,
         &:hover,
         &:hover::after,
         &:focus::after {
            width: 100%;
            color: $accent-color;
         }
      }
   }
   .btn:hover,
   .btn:focus {
      background: none;
      color: $accent-color !important;
      border: 1px solid $accent-color;
   }
   .transp-btn:hover,
   .transp-btn:focus {
      background: $accent-color;
      color: #131e3a !important;
   }
}
// Burger Party
@media (max-width: 1024px) {
   .burger__menu {
      display: block;
      position: relative;
      width: 30px;
      height: 18px;
      cursor: pointer;
   }
   .burger__menu span,
   .burger__menu::after,
   .burger__menu::before {
      position: absolute;
      left: 0;
      height: 10%;
      width: 100%;
      transition: all 0.4s ease 0s;
      background-color: $accent-color;
   }
   /* Static Burger-Lines*/
   .burger__menu::after {
      content: "";
      top: 0;
   }
   .burger__menu span {
      top: 50%;
      transform: scale(1) translate((0px, -50%));
   }
   .burger__menu::before {
      content: "";
      bottom: 0;
   }
   /* Dinamics Burger-Lines*/
   .burger__menu.active::after {
      top: 50%;
      transform: rotate(45deg) translate((0px, 50%));
   }
   .burger__menu.active span {
      transform: scale(0) translate((0px, -50%));
   }
   .burger__menu.active::before {
      top: 50%;
      transform: rotate(-45deg) translate((0px, -50%));
   }
   .header__nav {
      background-color: $background-color;
      position: fixed;
      top: 0;
      left: -100%;
      height: 100vh;
      width: 75%;
      max-width: 350px;
      transition: left 0.6s ease;
      overflow: auto;
   }
   .nav__menu {
      font-size: 19px;
      padding: 60px 30px 0 30px;
      flex-direction: column;
      gap: 30px;
   }
   .nav__buttons {
      padding-left: 22%;
   }
   .header__nav.active {
      left: 0;
   }
   .overlay {
      display: none;
      visibility: hidden;
      opacity: 0;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: hsla(0, 0%, 0%, 1);
      transition: 0.25s ease;
   }
   .overlay.active {
      display: block;
      visibility: visible;
      opacity: 0.4;
   }
}